Repository MadScie254/Capstone-Lazarus: changes, and which pre-commit hooks are due for each by the changed paths.
All: protect-data-directory, check-model-size, validate-config, check-requirements, validate-model-architecture, check-data-leakage, validate-experiment-configs

protect-data-directory:
  name: Protect data/ directory
  entry: python scripts/protect_data.py
  language: python
  fail_fast: true

check-model-size:
  name: Check model file sizes
  entry: python scripts/check_model_size.py
  language: python

validate-config:
  name: Validate configuration files
  entry: python scripts/validate_config.py
  language: python

check-requirements:
  name: Check requirements consistency
  entry: python scripts/check_requirements.py
  language: python

validate-model-architecture:
  name: Validate ML model architectures
  entry: python scripts/validate_models.py
  language: python

check-data-leakage:
  name: Check for potential data leakage
  entry: python scripts/check_data_leakage.py
  language: python

validate-experiment-configs:
  name: Validate experiment configurations
  entry: python scripts/validate_experiments.py
  language: python

Implement new feature for user authentication and improve error handling
  notebooks/02_feature_extract_microjobs.ipynb
Due: none

fix: Resolve issues in feature extraction pipeline for improved compatibility and performance
  notebooks/02_feature_extract_microjobs.ipynb
Due: none

fix: Update kernel specification for improved compatibility in Jupyter Notebook
  notebooks/plant_disease_exploration_training.ipynb
Due: none

Refactor code structure for improved readability and maintainability
  .ipynb_checkpoints/Inception_Model-checkpoint.ipynb
  ATTRIBUTEERROR_FIX_SUMMARY.md
  STREAMLIT_FIX_SUMMARY.md
  STREAMLIT_IMPORT_FIX.md
  notebooks/.ipynb_checkpoints/02_feature_extract_microjobs-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/03_head_training_ablations-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/04_patch_segmentation_spatial-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/comprehensive_model_training-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/comprehensive_model_training_fixed-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/eda_plant_diseases-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/eda_plant_diseases_clean-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/model_training-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/plant_disease_exploration_training-checkpoint.ipynb
Due: none

Add initial structure for immersive plant disease EDA notebook
  notebooks/01_IMMERSIVE_Plant_Disease_EDA.ipynb
  notebooks/01_IMMERSIVE_Plant_Disease_EDA_PART1.ipynb
Due: none

Initial commit of the immersive plant disease exploratory data analysis notebook, featuring advanced data ingestion, metadata extraction, and comprehensive visualization capabilities.
  notebooks/01_IMMERSIVE_Plant_Disease_EDA.ipynb
  notebooks/01_IMMERSIVE_Plant_Disease_EDA_PART1.ipynb
Due: none

Implement feature X to enhance user experience and optimize performance
  notebooks/01_IMMERSIVE_Plant_Disease_EDA_PART1.ipynb
Due: none

Enhance notebook metadata with kernel specifications and language info
  notebooks/05_safe_finetuning_progressive.ipynb
Due: none

Add model training scripts and configuration files for plant disease classification
  app/streamlit_app/main.py
  fix_training_pipeline.py
  models/best_models/demo_model.h5
  models/best_models/quick_trained_model.h5
  models/class_names.json
  models/model_registry.json
  notebooks/04_patch_segmentation_spatial.ipynb
  quick_train_model.py
  train_complete_model.py
Due: check-model-size, check-data-leakage

Model intergration
  models/checkpoints/model_checkpoint_01_0.055.h5
  models/checkpoints/model_checkpoint_02_0.060.h5
Due: check-model-size

Model intergration and dashboard improvements
  TRAINING_FIX_COMPLETE.md
  app/lazarus_console/main.py
  app/streamlit_app/__pycache__/advanced_main.cpython-313.pyc
  app/streamlit_app/__pycache__/main.cpython-313.pyc
  app/streamlit_app/advanced_main.py
  app/streamlit_app/main.py
  models/best_models/plant_disease_classifier_v1.h5
  models/best_models/plant_disease_classifier_v1.keras
  models/model_registry.json
Due: check-model-size, check-data-leakage

Create state_manager.py
  app/lazarus_console/components/state_manager.py
Due: check-data-leakage

react-level streamlit dashboard
  app/lazarus_console/components/header.py
  app/lazarus_console/components/sidebar.py
  app/lazarus_console/routes/dataset_explorer.py
  app/lazarus_console/routes/home.py
  app/lazarus_console/utils/dataset_manager.py
  app/lazarus_console/utils/model_manager.py
  app/lazarus_console/utils/theme.py
Due: check-data-leakage

Add training monitor route with live metrics UI
  app/lazarus_console/routes/training_monitor.py
Due: check-data-leakage

Add Inference Lab route for batch/model analysis
  app/lazarus_console/routes/inference_lab.py
Due: check-data-leakage

Add Explainability Studio route with visualization tools
  app/lazarus_console/routes/explainability_studio.py
Due: check-data-leakage

Add model compare, settings, and system profiler routes
  app/lazarus_console/routes/home.py
  app/lazarus_console/routes/model_compare.py
  app/lazarus_console/routes/settings.py
  app/lazarus_console/routes/system_profiler.py
  notebooks/.ipynb_checkpoints/01_IMMERSIVE_Plant_Disease_EDA-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/01_IMMERSIVE_Plant_Disease_EDA_PART1-checkpoint.ipynb
Due: check-data-leakage

Enhance dataset and model manager initialization
  app/lazarus_console/__pycache__/main.cpython-313.pyc
  app/lazarus_console/components/__pycache__/header.cpython-313.pyc
  app/lazarus_console/components/__pycache__/sidebar.cpython-313.pyc
  app/lazarus_console/components/__pycache__/state_manager.cpython-313.pyc
  app/lazarus_console/routes/home.py
  app/lazarus_console/utils/__pycache__/dataset_manager.cpython-313.pyc
  app/lazarus_console/utils/__pycache__/model_manager.cpython-313.pyc
  app/lazarus_console/utils/__pycache__/theme.cpython-313.pyc
  app/lazarus_console/utils/dataset_manager.py
  app/lazarus_console/utils/model_manager.py
  notebooks/.ipynb_checkpoints/01_IMMERSIVE_Plant_Disease_EDA-checkpoint.ipynb
  notebooks/.ipynb_checkpoints/01_IMMERSIVE_Plant_Disease_EDA_PART1-checkpoint.ipynb
  notebooks/01_IMMERSIVE_Plant_Disease_EDA.ipynb
  notebooks/01_IMMERSIVE_Plant_Disease_EDA_PART1.ipynb
Due: check-data-leakage

Update EDA notebook and routes for improved clarity
  app/lazarus_console/routes/__pycache__/dataset_explorer.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/explainability_studio.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/home.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/inference_lab.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/model_compare.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/settings.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/system_profiler.cpython-313.pyc
  app/lazarus_console/routes/__pycache__/training_monitor.cpython-313.pyc
  app/lazarus_console/routes/settings.py
  app/lazarus_console/routes/system_profiler.py
  app/lazarus_console/utils/__pycache__/dataset_manager.cpython-313.pyc
  app/lazarus_console/utils/__pycache__/model_manager.cpython-313.pyc
  notebooks/.ipynb_checkpoints/01_IMMERSIVE_Plant_Disease_EDA_PART1-checkpoint.ipynb
  notebooks/01_IMMERSIVE_Plant_Disease_EDA_PART1.ipynb
Due: check-data-leakage

Enhance model selection and prediction in home route
  app/lazarus_console/main.py
  app/lazarus_console/routes/home.py
  app/lazarus_console/utils/__pycache__/dataset_manager.cpython-313.pyc
  app/lazarus_console/utils/__pycache__/model_manager.cpython-313.pyc
  app/lazarus_console/utils/dataset_manager.py
  app/lazarus_console/utils/model_manager.py
  test_managers.py
Due: check-data-leakage

Add utils module for dataset and model managers
  app/lazarus_console/__pycache__/__init__.cpython-313.pyc
  src/__pycache__/data_utils.cpython-313.pyc
  utils/__init__.py
  utils/__pycache__/__init__.cpython-313.pyc
  utils/__pycache__/dataset_manager.cpython-313.pyc
  utils/__pycache__/model_manager.cpython-313.pyc
  utils/dataset_manager.py
  utils/model_manager.py
Due: none

Refactor inference function to use tensors directly instead of concatenated batch; remove unused demo model file
  app/lazarus_console/__init__.py
  models/best_models/demo_model.h5
Due: check-model-size, check-data-leakage

Refactor model management and retire legacy scripts
  TRAINING_FIX_COMPLETE.md
  app/lazarus_console/__init__.py
  app/lazarus_console/__pycache__/__init__.cpython-313.pyc
  app/lazarus_console/utils/__pycache__/dataset_manager.cpython-313.pyc
  app/lazarus_console/utils/__pycache__/model_manager.cpython-313.pyc
  app/lazarus_console/utils/model_manager.py
  create_quick_manifest.py
  fix_training_pipeline.py
  models/model_registry.json
  quick_pipeline_test.py
  quick_train_model.py
  robust_feature_extract.py
  run.py
  simple_head_test.py
  simple_head_test_fixed.py
  train_complete_model.py
  train_orchestrator.py
  utils/__pycache__/__init__.cpython-313.pyc
  utils/__pycache__/dataset_manager.cpython-313.pyc
  utils/__pycache__/model_manager.cpython-313.pyc
  verify_system.py
Due: check-data-leakage

Update kernelspec metadata in notebooks
  notebooks/02_feature_extract_microjobs.ipynb
  notebooks/03_head_training_ablations.ipynb
Due: none

Add master training orchestration and update configs
  config.yaml
  config/models_list.json
  run.py
  src/master_trainer.py
  src/training_torch.py
Due: validate-config, check-data-leakage

Add experiment metrics dashboard and trainer tests
  app/lazarus_console/__init__.py
  notebooks/master_model_trainer.ipynb
  src/__pycache__/data_utils_torch.cpython-313.pyc
  src/__pycache__/master_trainer.cpython-313.pyc
  src/__pycache__/model_factory_torch.cpython-313.pyc
  src/__pycache__/training_torch.cpython-313.pyc
  src/master_trainer.py
  src/model_factory_torch.py
  tests/__pycache__/test_master_trainer.cpython-313-pytest-8.4.1.pyc
  tests/test_master_trainer.py
Due: check-data-leakage

tweaks
  src/master_trainer.py
Due: check-data-leakage

Implement Master Trainer and Streamlit Dashboard Integration
  MASTER_TRAINER_IMPLEMENTATION.md
  README.md
  docs/runbook.md
  run_smoke_tests.ps1
  run_smoke_tests.sh
  scripts/profile_inference.py
  src/__pycache__/master_trainer.cpython-313.pyc
  src/master_trainer.py
  src/telemetry.py
  tests/test_smoke_train.py
  tests/test_streamlit_integration.py
Due: check-data-leakage

feat: Complete dashboard integration with REAL trained models
  DASHBOARD_INTEGRATION_COMPLETE.md
  app/lazarus_console/__init__.py
  app/lazarus_console/__pycache__/__init__.cpython-313.pyc
  logs/inference_log.csv
  notebooks/master_model_trainer.ipynb
  src/__pycache__/master_trainer.cpython-313.pyc
  src/__pycache__/telemetry.cpython-313.pyc
  src/utils/logging_utils.py
  test_dashboard_integration.py
Due: check-data-leakage

Refactor code structure for improved readability and maintainability
  notebooks/.ipynb_checkpoints/master_model_trainer-checkpoint.ipynb
  src/__pycache__/data_utils_torch.cpython-311.pyc
  src/__pycache__/master_trainer.cpython-311.pyc
Due: none

Refactor code structure for improved readability and maintainability
  notebooks/.ipynb_checkpoints/master_model_trainer-checkpoint.ipynb
  notebooks/logs/ops.log
  notebooks/master_model_trainer.ipynb
  src/__pycache__/data_utils_torch.cpython-311.pyc
  src/__pycache__/model_factory_torch.cpython-311.pyc
  src/__pycache__/training_torch.cpython-311.pyc
  src/data_utils_torch.py
Due: check-data-leakage

fix: Update execution count in notebook to reflect correct order
  notebooks/.ipynb_checkpoints/master_model_trainer-checkpoint.ipynb
  notebooks/master_model_trainer.ipynb
Due: none

fix: Resolve NameError by defining 'mission_results' before pprint call
  notebooks/master_model_trainer.ipynb
Due: none

feat: Implement NUCLEAR SPEED optimizations for fast training and dataloaders
  config.yaml
  notebooks/master_model_trainer.ipynb
  src/data_utils_torch.py
  src/master_trainer.py
  src/model_factory_torch.py
Due: check-data-leakage

chore: Clean up notebook structure for better organization and clarity
  notebooks/master_model_trainer.ipynb
Due: none

feat: Enhance data loading strategy with improved subset selection for fast test and accuracy
  src/data_utils_torch.py
Due: check-data-leakage

Path conditions:
  protect-data-directory: any of: ^data/.*
  check-model-size: any of: ^models/.*\.(h5|pkl|joblib|onnx|pb)$
  validate-config: any of: ^config/.*\.(yaml|yml|json)$
  check-requirements: any of: ^requirements.*\.txt$
  validate-model-architecture: any of: ^src/models/.*\.py$
  check-data-leakage: any of: ^(src|app)/.*\.py$
  validate-experiment-configs: any of: ^experiments/.*\.(yaml|yml|json)$
