Repository MadScie254/Capstone-Lazarus: changes, and which pre-commit hooks are due for each by the changed paths.
All: protect-data-directory, check-model-size, validate-config, check-requirements, validate-model-architecture, check-data-leakage, validate-experiment-configs

protect-data-directory:
  name: Protect data/ directory
  entry: python scripts/protect_data.py
  language: python
  fail_fast: true

check-model-size:
  name: Check model file sizes
  entry: python scripts/check_model_size.py
  language: python

validate-config:
  name: Validate configuration files
  entry: python scripts/validate_config.py
  language: python

check-requirements:
  name: Check requirements consistency
  entry: python scripts/check_requirements.py
  language: python

validate-model-architecture:
  name: Validate ML model architectures
  entry: python scripts/validate_models.py
  language: python

check-data-leakage:
  name: Check for potential data leakage
  entry: python scripts/check_data_leakage.py
  language: python

validate-experiment-configs:
  name: Validate experiment configurations
  entry: python scripts/validate_experiments.py
  language: python

Remove legacy test files and configurations for CAPSTONE-LAZARUS project
  Dockerfile
  docker-compose.yml
  run_tests.py
  scripts/check_model_size.py
  scripts/docker-entrypoint.sh
  scripts/healthcheck.py
  scripts/protect_data.py
  scripts/validate_config.py
  src/experiments/__init__.py
  src/experiments/mlflow_logger.py
  src/models/arch_nas.py
  tests/conftest.py
  tests/integration/test_pipeline.py
  tests/unit/test_config.py
  tests/unit/test_data_pipeline.py
Due: validate-model-architecture, check-data-leakage

feat: Implement advanced inference engine and model factory for plant disease classification
  README.md
  SYSTEM_OVERVIEW.md
  app/streamlit_app/main.py
  notebooks/eda_plant_diseases.ipynb
  notebooks/model_training.ipynb
  requirements.txt
  run.py
  src/__pycache__/data_utils.cpython-313.pyc
  src/data_utils.py
  src/inference.py
  src/model_factory.py
Due: check-requirements, check-data-leakage

Implement structural updates and optimizations across multiple modules
  models/logs/efficientnet_v2_b0_plant_disease_20250916_200356/train/events.out.tfevents.1758042236.HP-OMENX.34176.0.v2
  src/__pycache__/data_utils.cpython-311.pyc
  src/__pycache__/model_factory.cpython-311.pyc
  src/data_utils.py
  src/model_factory.py
Due: check-data-leakage

refactor: Remove unused import of keras from inference.py
  src/inference.py
Due: check-data-leakage

fix: Update model loading and Grad-CAM methods to use tf.keras.Model and handle potential None values
  src/inference.py
Due: check-data-leakage

feat: Enhance inference engine to load trained models and handle missing data gracefully
  app/streamlit_app/main.py
  src/data_utils.py
  src/inference.py
Due: check-data-leakage

Refactor code structure for improved readability and maintainability
  src/__pycache__/__init__.cpython-313.pyc
  src/__pycache__/data_utils.cpython-313.pyc
  src/__pycache__/model_factory.cpython-313.pyc
  src/config/__pycache__/__init__.cpython-313.pyc
  src/inference/__pycache__/__init__.cpython-313.pyc
  src/inference/__pycache__/predictor.cpython-313.pyc
Due: none

Implement prediction engine and testing framework for CAPSTONE-LAZARUS
  app/streamlit_app/main.py
  src/__pycache__/inference.cpython-313.pyc
  src/inference_old/__init__.py
  src/inference_old/__pycache__/__init__.cpython-313.pyc
  src/inference_old/__pycache__/predictor.cpython-313.pyc
  src/inference_old/predictor.py
  test_system.py
Due: check-data-leakage

Enhance model training notebook with detailed logging and error handling
  notebooks/01_plant_disease_exploration_training.ipynb
  notebooks/model_training.ipynb
Due: none

Add VSCode settings for CodeGPT API key configuration
  .vscode/settings.json
  notebooks/02_model_training_evaluation.ipynb
Due: none

Update comprehensive_model_training notebook with new code changes
  notebooks/comprehensive_model_training.ipynb
Due: none

feat(data): enhance PlantDiseaseDataLoader with robust error handling
  src/data_utils.py
Due: check-data-leakage

fix(data_utils): robust get_dataset_stats with defensive programming
  src/data_utils.py
Due: check-data-leakage

feat(tests): add quick test script for PlantDiseaseDataLoader functionality
  src/__pycache__/data_utils.cpython-313.pyc
  test_loader.py
Due: none

chore: Add random module import for enhanced data processing capabilities
  src/data_utils.py
Due: check-data-leakage

feat: Enhance dataset statistics retrieval with defensive programming and additional metrics
  src/data_utils.py
Due: check-data-leakage

fix(data_utils): robust PlantDiseaseDataLoader with defensive programming
  src/data_utils.py
Due: check-data-leakage

feat(notebooks): add clean clinical EDA notebook
  notebooks/eda_plant_diseases_clean.ipynb
Due: none

feat(training): add deterministic seeding and model checkpointing
  src/training/trainer.py
Due: check-data-leakage

feat(inference): add robust model loading functions
  src/inference.py
Due: check-data-leakage

feat: Add comprehensive testing and CI pipeline
  .github/workflows/ci.yml
  tests/__init__.py
  tests/test_data_utils.py
Due: none

docs: Complete implementation summary and README updates
  IMPLEMENTATION_SUMMARY.md
  README.md
Due: none

Refactor comprehensive model training notebook and enhance EDA for plant diseases
  notebooks/comprehensive_model_training.ipynb
  notebooks/eda_plant_diseases_clean.ipynb
  src/__pycache__/data_utils.cpython-313.pyc
  src/__pycache__/inference.cpython-313.pyc
Due: none

chore: update compiled inference bytecode
  src/__pycache__/inference.cpython-313.pyc
Due: none

chore(notebooks): remove corrupt comprehensive_model_training notebook
  notebooks/comprehensive_model_training.ipynb
Due: none

feat: Complete Step B - Super-immersive EDA
  notebooks/eda_plant_diseases_clean.ipynb
  reports/eda_summary.json
Due: none

feat: Implement comprehensive model architecture factory and training pipeline for plant disease classification
  models/logs/efficientnet_v2_b0_plant_disease_20250920_173814/train/events.out.tfevents.1758379094.HP-OMENX.15700.0.v2
  notebooks/.ipynb_checkpoints/eda_plant_diseases_clean-checkpoint.ipynb
  notebooks/eda_plant_diseases_clean.ipynb
  src/ensembling.py
  src/models/architectures.py
  src/training/pipeline.py
Due: validate-model-architecture, check-data-leakage

Add comprehensive system verification script and results logging
  app/streamlit_app/advanced_main.py
  src/__pycache__/ensembling.cpython-313.pyc
  src/__pycache__/interpretability.cpython-313.pyc
  src/interpretability.py
  src/models/__pycache__/architectures.cpython-313.pyc
  src/models/architectures.py
  src/training/__pycache__/__init__.cpython-313.pyc
  src/training/__pycache__/pipeline.cpython-313.pyc
  src/training/__pycache__/trainer.cpython-313.pyc
  src/training/__pycache__/tuning.cpython-313.pyc
  test_ensemble/ensemble_20250920_181531.log
  test_models/logs/training_20250920_181531.log
  train_orchestrator.py
  verification_results.json
  verify_system.py
Due: validate-model-architecture, check-data-leakage

Enhance Streamlit App and Model Interpretability
  DEPLOYMENT_SUMMARY.md
  app/streamlit_app/main.py
  notebooks/plant_disease_exploration_training.ipynb
  src/__pycache__/interpretability.cpython-313.pyc
  src/interpretability.py
  src/models/__pycache__/architectures.cpython-313.pyc
  src/models/architectures.py
  test_ensemble/ensemble_20250920_181807.log
  test_ensemble/ensemble_20250920_182029.log
  test_ensemble/ensemble_20250920_182137.log
  test_ensemble/ensemble_20250920_182240.log
  test_models/logs/training_20250920_181807.log
  test_models/logs/training_20250920_182029.log
  test_models/logs/training_20250920_182137.log
  test_models/logs/training_20250920_182240.log
  verification_results.json
Due: validate-model-architecture, check-data-leakage

Implement code changes to enhance functionality and improve performance
  STREAMLIT_FIX_SUMMARY.md
  app/streamlit_app/__pycache__/advanced_main.cpython-313.pyc
Due: none

refactor: Update import paths to ensure correct module access in Streamlit applications
  app/streamlit_app/advanced_main.py
  app/streamlit_app/main.py
Due: check-data-leakage

Path conditions:
  protect-data-directory: any of: ^data/.*
  check-model-size: any of: ^models/.*\.(h5|pkl|joblib|onnx|pb)$
  validate-config: any of: ^config/.*\.(yaml|yml|json)$
  check-requirements: any of: ^requirements.*\.txt$
  validate-model-architecture: any of: ^src/models/.*\.py$
  check-data-leakage: any of: ^(src|app)/.*\.py$
  validate-experiment-configs: any of: ^experiments/.*\.(yaml|yml|json)$
